---
title: Home page
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title>{{ site.seo_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ site.meta_description }}">
    <meta name="keywords" content="{{ site.meta_keywords }}">

    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'bootstrap-glyphicons.css' | stylesheet_tag }}
    {{ 'imoveis.css' | stylesheet_tag }}
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/samples/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/samples/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/samples/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/samples/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/samples/apple-touch-icon-precomposed.png">

    <script src="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>
    <link href="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css" rel="stylesheet" />
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">NAVEGAÇÃO</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">{{ site.seo_title }}</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Encontre seu imóvel</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Simule seu financiamento <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Caixa Econômica</a></li>
                <li><a href="#">Banco do Brasil</a></li>
                <li><a href="#">Itaú</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sobre nós <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Escritórios</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Trabalhe conosco</a></li>
              </ul>
            </li>
            <li><a href="#contact">Fale conosco</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="glyphicon glyphicon-earphone"></i> (41) 9932-3319</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Map -->
    <div class="map slide">
      <div class="map-inner" id="map">
        <div class="item active">

          <div class="container">
            <div class="map-caption well col-md-4 col-md-offset-8">

              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-4 control-label">Tipo de Negócio</label>
                  <div class="col-sm-8">
                    <select class="form-control">
                      <option>Locação</option>
                      <option>Venda</option>
                      <option>Lançamento</option>
                      <option>Empreendimento</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Cidade</label>
                  <div class="col-sm-8">
                    <select class="form-control">
                      <option>-</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Bairro</label>
                  <div class="col-sm-8">
                    <select class="form-control">
                      <option>-</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Tipo da Propriedade</label>
                  <div class="col-sm-8">
                    <select class="form-control">
                      <option>Casa</option>
                      <option>Apartamento</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Map -->





    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->



    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {{ 'bootstrap.min.js' | javascript_tag }}
    <script type='text/javascript'>
      $(document).ready(function() {
      });
    </script>
    <script>
var map = L.mapbox.map('map', 'examples.map-y7l23tes')
    .addControl(L.mapbox.geocoderControl('examples.map-y7l23tes'))
    .setView([37.9, -77], 5);

var myLayer = L.mapbox.featureLayer().addTo(map);

var feature = {
    type: 'Feature',
    geometry: {
        type: 'Point',
        coordinates: [-77, 37.9]
    },
    properties: {
        title: 'Example Marker',
        description: 'This is a single marker.'
    }
};

myLayer.setGeoJSON(feature);
</script>
  </body>
</html>
